/* Header.css */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #16425B;
    padding: 10px 20px;
}

.logo {
    font-weight: bold;
    color: #ffffff;
}

.account {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.account-signed-in {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.account h3 {
    font-weight: normal;
}

.account img {
    border-radius: 30px;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    margin-top: 15px;
}

.account button {
    background-color: #f0f0f0;
}

#site-logo{
    width: 170px;
    filter: brightness(0) invert(1);
    margin-left: 42px;
    margin-top: 10px;
}
