.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  width: 100%;
  max-width: 1200px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.boxes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: stretch;
}

.workout-builder,
.log-plan-box{
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group select{
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-group input{
  width: 94%;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.plan-header {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
}

.plan-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.plan-item {
  background-color: #ddd;
  padding: 12px;
  text-align: left;
  border: none;
  border-radius: 6px;
}

.plan-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 16px;
}

.plan-btn {
  flex: 1;
  padding: 12px;
  background-color: #81c3d7;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.submit-btn {
  margin-top: 20px;
  width: 100%;
  background-color: #81c3d7;
  color: #16425B;
  border: none;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #66c2e0;
}
