.home-calendar {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  height: 60vh;
  overflow-y: auto;
  border: 1px solid black;
  position: relative;
}

.cell {
  border: 1px solid #ccc;
  padding: 5px;
}

.cell-header-empty {
  grid-column: 1;
}

.cell-header,
.cell-time-label,
.cell.slot {
  border: 1px solid #ccc;
  padding: 0px;
  text-align: center;
}

.cell-header {
  background-color: #f0f0f0;
  font-size: 1em;
  height: 60px;
}

.cell-time-label {
  grid-column: 1;
  font-size: 1.1em;
  background-color: #f0f0f0;
}

.slot {
  background-color: #fff;
  height: 50px;
  width: 90px;
}

.time-row {
  display: contents;
}

.event-block {
  position: absolute;
  background-color: #81c3d7;
  border: 1px solid #16425b;
  z-index: 1;
  width: 90%;
}

.event-layer {
  position: absolute;
  height: 100%;
}

.event-block {
  z-index: 2;
  font-size: 12px;
}
