.signup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 500px;
  max-width: 90%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.radioInputs {
  display: flex;
  justify-content: center;
  gap: 40px; 
  margin-top: 10px;
  margin-bottom: 10px;
}

.genderOption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form  label {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.signup-form  input:not([type="radio"]) {
  width: 400px;
  height: 40px;
  margin-bottom: 10px;
}

.signup-form  button {
  width: 409px;
  height: 40px;
  background-color: rgb(91, 177, 243);
  border-radius: 0px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.error {
  border: 2px solid red;
  box-shadow: 0 0 5px red;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}
